{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}爱创作-新文{% endblock title %}
{% block topfiles %}
 <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
           <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- jQuery (Bootstrap 插件需要引入) -->
           <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <!-- 包含了所有编译插件 -->
            <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="/static/res/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script src="/static/res/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="/static/res/jqPaginator.min.js" type="text/javascript"></script>
    <link href="/static/res/myPage.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript">
        function loadData(num) {
            $("#PageCount").val("89");
        }
    </script>
{% endblock topfiles %}


{% block body %}

<div class="panel panel-default" style="margin-top: 70px;margin-left: 20px; margin-right: 20px">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-1">平台：</div>
            <div class="col-sm-11">

                <ul class="nav-menu" id="pingtai_list">
                    <li><a href="/index/" style="color: #005cbf ">全部</a></li>
                    {% for deck in deck %}
{#                        <li><a href="javascript:void(0);"#}
{#                               onclick="typeRequest('{{ deck.pingtai_name }}');">{{ deck.pingtai_name }}</a></li>#}
                        <li><a href="/index/switch?type={{ deck.pingtai_name }}">{{ deck.pingtai_name }}</a></li>
                    {% endfor %}
                </ul>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-1">分类：</div>
            <div class="col-sm-11">
                <ul class="nav-menu">
                    <li><a href="" style="color: #005cbf;">全部</a></li>
                    {% for type in type %}
                        <li><a href="">{{ type.lingyu_name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1">类型：</div>
            <div class="col-sm-11">
                <ul class="nav-menu">
                    <li><a href="" style="color: #005cbf">全部</a></li>
                    <li><a href="">文章</a></li>
                    <li><a href="">图集</a></li>
                    <li><a href="">视频</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-1">排序：</div>
            <div class="col-sm-11">
                <ul class="nav-menu">
                    <li><a href="" style="color: #005cbf">发布时间</a></li>
                    <li><a href="">阅读量</a></li>
                    <li><a href="">评论量</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>

<div class="panel panel-default" style="margin-top: 20px; margin-left: 20px;margin-right: 20px">
    <table id="table1" class="table table-condensed text-center">
        <thead>
        <tr>
            <th>标题</th>
            <th>作者</th>
            <th>领域</th>
            <th>平台</th>
            <th>类型</th>
            <th>时间</th>
            <th>阅读</th>
            <th>评论</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>

        {% for messages in message %}
            <tr>
                <td style="text-align: left; padding-left: 20px;width: 450px;" id="mes_title">{{ messages.title }}</td>
                <td id="mes_author">{{ messages.author }}</td>
                <td id="mes_field">{{ messages.field_type }}</td>
                <td id="mes_deck">{{ messages.deck_type }}</td>
                <td id="mes_type">{{ messages.message_type }}</td>
                <td id="mes_time">{{ messages.time }}</td>
                <td>{{ messages.yuedu_count }}</td>
                <td>{{ messages.pinglun_count }}</td>
                <td>编辑</td>
            </tr>

        {% endfor %}

        </tbody>

    </table>
</div>


<div style="text-align: center; padding-top: 40px ">
    <ul class="pagination">
        <li><a href="#">上一页</a></li>
        <li class="active"><a href="/index/1/">1</a></li>
        <li><a href="/index/index/2/">2</a></li>
        <li><a href="/index/index/3/">3</a></li>
        <li><a href="/index/index/4/">4</a></li>
        <li><a href="/index/index/5/">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">7</a></li>
        <li><a href="#">8</a></li>
        <li><a href="#">9</a></li>
        <li><a href="#">10</a></li>
        <li><a href="#">下一页</a></li>
    </ul>
</div>
<input type="button" name="确定" onclick="alert('ok！');">

{#    <div style="text-align: center; padding-top: 40px ">#}
{#        <ul class="pagination" id="pagination">#}
{#        </ul>#}
{#        <input type="hidden" id="PageCount" runat="server" />#}
{#        <input type="hidden" id="PageSize" runat="server" value="8" />#}
{#        <input type="hidden" id="countindex" runat="server" value="10"/>#}
{#        <!--设置最多显示的页码数 可以手动设置 默认为7-->#}
{#        <input type="hidden" id="visiblePages" runat="server" value="7" />#}
{#    </div>#}
{#    <script src="/static/res/myPage.js" type="text/javascript"></script>#}

<script>
    function typeRequest(type) {
        alert('平台类型' + type);
        console.log(type);

{#        var data_list = [#}
{#            {'name': 'chenchao', 'age': 18},#}
{#            {'name': 'lisi', 'age': 19},#}
{#            {'name': 'wangwu', 'age': 13}#}
{##}
{#        ];#}
        $.ajax({
            url: "/index/",
            type: 'POST',
            tradition: true,
            data: {data:type},
            success: function (arg) {
                window.location.reload();
{#                var obj = jQuery.parseJSON(arg);#}
{#                for (var i = 0; i < obj.length; i++) {#}
{#                    console.log(obj[i].title);#}
{#                    $('#mes_title').val(obj[i].title)#}
{#                }#}
            }
        });
    }
</script>

{% endblock body %}